* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.logo_name_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
}

.logo_name_img img {
  width: 18%;
}

p.logo_name {
  background: #ffb100;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
}
.footer_container {
  background: #040468;
  padding: 2rem 0rem;
  text-align: center;
  color: white;
}

.footer_icon {
  margin-right: .8rem;
  font-size: 1.3rem;
}