* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.logo_name_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
}

.logo_name_img img {
  width: 18%;
}

p.logo_name {
  background: #ffb100;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
}
/* Main Ui */
.infoOne {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: arial;
}
.infoTwo {
  color: #ff2300;
  padding: 6px 0px;
}
.infoSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: arial;
  font-size: 1.3rem;
  font-weight: bold;
}

span {
  width: 2px;
  height: 99px;
  background: #bdb5b5;
}
/* Footer */
.footer_container {
  background: #081430;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_container img {
  width: 10%;
}
.footer_icon {
  margin-right: 0.8rem;
  font-size: 1.3rem;
}
